body {
	font-family: Palatino;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	margin: 0;
  	padding: 0;
  	height: 100%;
  	color: #4c9fcd;
  	text-align: center;
}

#map { 
	width:80vw;
	height:100vh;
	float:left;
}

.controlPanel {
	z-index: 2;
	width:19vw;
	height:100vh;
	float:left;
	font-size:1.1em;
}

#remove {}

button, li, #typeList {
	width: 100%;
	text-align: center;
	color: rgba(158,158,158,1.0);
	background-color:#F8F8F8;
	font-size: 14px;
    font-weight: 600;
	border: 1px solid #e5e5e5;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 4px;
}


#marker {
	fill: yellow;
}

.leaflet-popup-content-wrapper {
  background: white;
}

#typeList {
	overflow-y: auto;
	height: 25vh;
	border: 3px solid #F8F8F8;
	border-radius: 4px;
}

#typeList button {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
	width:78%;
	background-color: white;
}

#typeList button:focus {
	background-color: #4c9fcd;
	color:white;
	outline:none;
}

button:focus {
	background-color: #4c9fcd;
	color:white;
	outline:none;
}

p {
	margin-left: 2%;
}

.itineraryOutput {
	font-style: italic;
	font-size: 10px;
}

.trip, #clearItinerary {
	display: none;
}


